/* IMPORT RESET */
@import url("reset.css");

/* IMPORT 12 COLUMN RESPONSIVE GS */
@import url("responsive.gs.12col.css");


/*	EXAMPLE STYLES */
body {
	font-family: sans-serif;
	color: white;
}

nav {
	line-height: 4em;
	text-align: center;
	background: #2c3e50;
	opacity: 0.8;
  position: fixed;
  z-index: 3;
  width: 100%;
}

article {
	line-height: 20em;
	text-align: center;
	background: #666;
}

aside {
	line-height: 20em;
	text-align: center;
	background: #999;
}

footer {
	line-height: 15em;
	text-align: center;
	background: #BBB;
}

 .parallax {
  height: 500px; /* fallback for older browsers */
  perspective: 1px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 300px;
  perspective: 300px;
}

.parallax_layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax_layer_base {
  transform: translateZ(0);
}
.parallax_layer_back {
  transform: translateZ(-1px);
}

.image {
  width: auto;
}

.test {
  background: url("../images/creative-mind-brain-wallpaper.jpg") no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
  /*opacity: 0.2;*/
}