

body {
	background-color: silver;
	font-family: Helvetica;
	
}

#header {
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0; 
	background: blue;
}




#main { 
	position: absolute; 
	padding: 100px 100px 200px 100px;
	margin-right: 200px;
	top: 0; 
	right: 0; 
	bottom: -1000; 
	left: 20%; 
	background: #B0E0E6;
	font-size: medium;
}


#gutter_left{ 
	position: fixed;
	padding-top: 8%;
	top: 0;
	right: 80%; 
	bottom: -1000;
	left: 0;
	
}

#footer {
	position: fixed; 
	bottom: 30px; 
	left: 50px; 

}


