

body {
	background-color: silver;
	font-family: Helvetica;
	/*padding-right: 80px;
	 border:1px solid blue */
}

#header {
	position: fixed; 
	top: 0; 
	left: 0; 
	right: 0; 
	background: silver;
}




#main { 
	position: absolute; 
	padding: 88px;
	top: 0; 
	right: 0; 
	bottom: 0; 
	left: 20%; 
	background: #B0E0E6;
}


#gutter_left{ 
	position: absolute;
	padding-top: 8%;
	top: 0;
	right: 80%; 
	bottom: 0;
	left: 0;
	background: #808080;
}

#footer {
	position: absolute; 
	bottom: 30px; 
	left: 50px; 

}


