

h1, h2, h3 {
	background-color: silver;
}

h4, h5, h6 {
	color: navy;
}

hr {
	width: 50;
}

#main_border {
  width: 80%;
  margin: auto;
  padding: 20px;
  border: 1px solid #B0E0E6;
  background: #B0E0E6;

}

body{ 
  margin: 20px;
  background: #eeeeee;
  font-size: small;
  font-family: Tahoma, Arial, “Trebuchet MS”, Helvetica, sans-serif;
  text-align: left;
}

#lefty_zone {
	width: 15%
	padding-left: 20px;
	float: left;
	background: #708090;
	height: 100%
}